<form class="w-96" [formGroup]="formGroup" (ngSubmit)="register()">
  <div class="mb-6">
    <label
      for="email"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your email</label
    >
    <input
      type="email"
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="john@domain.com"
      formControlName="email"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your name</label
    >
    <input
      type="text"
      id="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="John"
      formControlName="name"
      required
    />
  </div>
  <div class="mb-6 relative">
    <label
      for="password"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your password</label
    >
    <input
      type="password"
      id="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="password"
      required
    />
    <span
      *ngIf="formGroup.hasError('passwordMismatch')"
      class="absolute text-sm text-error"
    >
      Passwords do not match.
    </span>
  </div>
  <div class="mb-6 relative">
    <label
      for="rpassword"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Retype your password</label
    >
    <input
      type="password"
      id="rpassword"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="rpassword"
      required
    />
    <span
      *ngIf="formGroup.hasError('passwordMismatch')"
      class="absolute text-sm text-error"
    >
      Passwords do not match.
    </span>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
  <a class="link block text-center py-4" routerLink="/login"
    >Already have an account? Login here.</a
  >
</form>
